# Mac
.DS_Store

# Windows
Thumbs.db

# Editor
.idea/
.vscode

# vi
*~

# General
log/
*.log
*.d.ts
/packages/*/tsconfig.tsbuildinfo
/packages/*/dist
node_modules
/packages/frontend/tsconfig.node.tsbuildinfo
/packages/utils/coverage/
/tsconfig.tsbuildinfo
